{% include 'root.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}


<form class="container my-3" method="POST" action="">
    {% csrf_token %}
    <!--Apartado de nombre y correo -->
    <div class="row justify-content-md-center">
        <div class="col-md-5 mt-4">
            <label for="name">Nombre completo</label>
            {% render_field form.nombre class="form-control" type="text" %}
        </div>
        <div class="col-md-auto"></div>
        <div class="col-md-5 mt-4">
            <label for="email">Correo Institucional</label>
            <input type="email" name="email" class="form-control disable" id="correo" placeholder="Correo Institucional"
                value="{{user_email}}" readonly>
        </div>
    </div>
    <!--Apartado de telefono y carrera/dpto -->
    <div class="row justify-content-md-center">
        <div class="col-md-5 mt-4"><label for="tel">Teléfono</label>
            {% render_field form.celular class="form-control" type="tel"%}
        </div>
        <div class="col-md-auto"></div>
        <div class="col-md-5 mt-4">
            {% if group == 'asesorados' %}
            <label for="carrera">Carrera</label>
            {% render_field form.carrera|append_attr:"readonly:readonly" class="form-control" type="text" %}
            {% else %}
            <label for="lugar_asesoria">Lugar asesoría</label>
            {% render_field form.lugar_asesoria class="form-control" type="text"%}
        </div>
    </div>
    <!--Apartado de Clave empleado y Departamento -->
    <div class="row justify-content-md-center">
        <div class="col-md-5 mt-4">
            <label for="clave_empleado">Clave empleado</label>
            {% render_field form.clave_empleado class="form-control" type="text" %}
        </div>
        <div class="col-md-auto"></div>
        <div class="col-md-5 mt-4">
            <label for="departamento">Departamento</label>
            {% render_field form.departamento|append_attr:"readonly:readonly" class="form-control" type="text" %}
        </div>
        {% endif %}
    </div>

    <!--Botones cambiar contrasenia y actualizar-->
    <div class="row justify-content-md-center">
        <div class="col-md-5 mt-5 text-center">
            <input type="submit" class="btn btn-warning btn-lg px-5" value="Actualizar">
        </div>
        <div class="col-md-auto"></div>
        <div class="col-md-5 mt-5 text-center">
            <a class="btn my-btn small" href="{% url 'accounts:contrasena' %}"> <i class="fas fa-key mr-2"></i> Cambiar contraseña</a>
            
        </div>
    </div>

</form>









{% endblock %}