{% include 'accounts/nav.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<!---Titulo-->
<main class="container">
    <div class="row">
        <div class="col">
            <h1 id="title" class="my-2"><a href="#"><i class="fas fa-arrow-circle-left px-4"></i></a> Datos personales</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-11">
            <div id="profile-pic" class="text-right"><img src="{% static 'images/user.svg' %}" class="rounded-circle" width="90">
        </div>
    </div>


    <form class="container" method="POST" action="">
         {% csrf_token %}
        <!--Apartado de nombre y correo -->  
        <div class="row justify-content-md-center">
            <div class="col col-md-5 mt-4">
                <label for="name">Nombre completo</label>
                {% render_field form.nombre class="form-control" type="text" %}
            </div>
            <div class="col-md-auto"></div>
            <div class="col col-md-5 mt-4">
                <label for="email">Correo</label>
                <input type="email" name="email" class="form-control disable" id="correo"
                     placeholder="Correo Institucional" value="{{user_email}}" readonly>
            </div>
        </div>
        <!--Apartado de telefono y carrera/dpto -->  
        <div class="row justify-content-md-center">
            <div class="col col-md-5 mt-4"><label for="tel">Teléfono</label>
                {% render_field form.celular class="form-control" type="tel"%}
            </div>
            <div class="col-md-auto"></div>
            <div class="col col-md-5 mt-4">
                {% if group == 'asesorados' %}
                    <label for="carrera">Carrera</label>
                    {% render_field form.carrera|append_attr:"readonly:readonly" class="form-control" type="text"  %}    

                    {% else %}
                <label for="carrera">Clave empleado</label>
                    {% render_field form.clave_empleado class="form-control" type="text"  %}
 
                <label class="mt-4" for="carrera">Departamento</label>
                    {% render_field form.departamento|append_attr:"readonly:readonly" class="form-control" type="text"  %}

                {% endif %}
            </div>
        </div>

        <div class="row justify-content-md-center text-center">
            <div class="col-md-5 mt-5">
                <a class="btn btn-warning btn-lg" href={% url 'accounts:contrasena' %}>Cambiar contraseña</a>
            </div>
            <div class="col-md-auto"></div>
            <div class="col-md-5 mt-5">
                <input type="submit" class="my-btn small mb-3" value="Actualizar">
            </div>
        </div>

    </form>


</main>







{% endblock %}