{% include 'accounts/nav.html' %}
{% load widget_tweaks %}
{% block content %}


<main class="container">
    <div class="row">
        <div class="col">
            <h1 id="title" class="my-3"><a href="#"><i class="fas fa-arrow-circle-left px-4 mb-5"></i></a>Cambiar contraseña</h1>
        </div>
    </div>

    {% if form.errors %}
    {% for field in form %}
    {% for error in field.errors %}
    <div class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endfor %}
    {% endif %}

    <div class="row">

        <div class="col-md-6">
            <form method="post" action="">
                {% csrf_token %}
                <div class="form-group">
                    <label for="">{{ form.old_password.label }}</label>
                    {% render_field form.old_password class="form-control"%}
                </div>
                <div class="form-group">
                    <label for="">{{ form.new_password1.label }}</label>
                    {% render_field form.new_password1 class="form-control" %}
                    <ul class="indications font-weight-light text-muted mt-2">
                        <li>Su contraseña no puede ser muy similar a su otra información personal.</li>
                        <li>Su contraseña es muy corta. Debe contener al menos 8 caracteres.</li>
                        <li>Su contraseña no puede ser una contraseña de uso común.</li>
                        <li>Su contraseña no puede ser completamente numérica.</li>
                    </ul>

                </div>
                <div class="form-group">
                    <label for="">{{ form.new_password2.label }}</label>
                    {% render_field form.new_password2 class="form-control" %}
                </div>

                <button type="submit" class="my-btn small my-5">Actualizar</button>
            </form>
        </div>
    </div>
</main>



{% endblock %}