{% include 'accounts/nav.html' %}
{% load widget_tweaks %}

{% block content %}


<div class="container">
    <h1 id="title" class="my-3"><a href="#"><i class="fas fa-arrow-circle-left px-4"></i></a>Horario</h1>

    <div class="row">
        <div class="col">
            {% for agenda in agendas %}
            {{agenda.dia}}
            {{agenda.hora}}
            <a href="{% url 'eliminar_horario' agenda.id %}">x</a>
            <br>
        {% endfor %}

            <br>

            <form method="POST" action="">
                <div class="form-inline">
                {% csrf_token %}
                {% render_field form.dia_semana class="form-control" %}
                {% render_field form.hora_inicio class="form-control" %}
                {% render_field form.hora_final class="form-control" %}
                <input type="submit" class = "btn my-btn small mx-3" value="Agregar">
                </div>
            </form>

        </div>
    </div>
</div>



{% endblock %}