{% include 'accounts/nav.html' %}
{% load widget_tweaks %}

{% block content %}


<main class="container">
    <div class="row">
        <div class="col">
            <h1 id="title" class="my-3"><a href="{% url 'principal' %}"><i class="fas fa-arrow-circle-left px-4"></i></a>Horario</h1>
        </div>
    </div>

    <div class="row my-4">
    {% for dia in dias %}
        <div class="col col-sm-2">
            <div class="card text-center">
                <div class="card-header">
                    <strong>{{dia}}</strong>
                </div>
                <ul class="list-group list-group-flush">
                    {% for agenda in agendas %}
                        {% if agenda.dia.get_nombre_display == dia %}
                            <li class="list-group-item">
                                {{agenda.hora.get_nombre_display}}
                                <a href="{% url 'eliminar_horario' agenda.id %}">x</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
    </div>

    <hr class="rounded">

    <div class="container-fluid">
        <form class="form-inline"method="POST" action="">
            <div class="my-3">
            {% csrf_token %}
            {% render_field form.dia_semana class="form-control" %}
            {% render_field form.hora_inicio class="form-control" %}
            {% render_field form.hora_final class="form-control" %}
            <input type="submit" class = "btn my-btn small mx-4" value="Agregar Bloques">
            </div>
        </form>
    </div>

    </div>
</main>



{% endblock %}