{% include 'accounts/nav.html' %}
{% load widget_tweaks %}

{% block content %}


<div class="container">
    <h1 id="title" class="my-3"><a href="#"><i class="fas fa-arrow-circle-left px-4"></i></a>Horario</h1>

    <div class="row">
    {% for dia in dias %}
        <div class="col">
            <div class="card text-center">
                <div class="card-header">
                    <strong>{{dia}}</strong>
                </div>
                <ul class="list-group list-group-flush">
                    {% for agenda in agendas %}
                        {% if agenda.dia.get_nombre_display == dia %}
                            <li class="list-group-item">
                                {{agenda.hora.get_nombre_display}}
                                <a href="{% url 'accounts:eliminar_horario' agenda.id %}">x</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
    </div class="row">


    <div class="row">
        <form method="POST" action="">
            <div class="form-inline">
            {% csrf_token %}
            {% render_field form.dia_semana class="form-control" %}
            {% render_field form.hora_inicio class="form-control" %}
            {% render_field form.hora_final class="form-control" %}
            <input type="submit" class = "btn my-btn small mx-3" value="Agregar Bloques">
            </div>
        </form>
    </div>

    </div>
</div>



{% endblock %}