{% include 'root.html' %}
{% load auth_extras %}


{% block content %}

<main class="container" style="max-width: 900px;" >

    <div class="row ml-5">
        <div class="col"><h1 id="title" class="font-weight-bold mt-5 mb-4">Menú Principal</h1></div>
    </div>

    <div class="row ml-5 mb-3">
        <div class="col">
            <p>Bienvenido/a al Sistema de Asesorías del TNM Campus Colima.</p>
        </div>
    </div>
    
    
    <div class="container text-center">
        <div class="row">   
            <div class="col">
                {% for dir, data in opciones.items %}
                <a href={% url dir %}>
                    <button type="button" class="my-btn big m-4" title="{{data.title}}">
                        <h4 class="{{data.icon}} mr-4"></h4>{{data.text}}</button>
                </a>
                {% endfor %}
            </div>
        </div> 
    </div>

    <!--Boton de ayuda-->
    <div class="row">
        <div class="col">
            <p>
                <a data-toggle="collapse" href="#collapseStudent" role="button" aria-expanded="false" aria-controls="collapseStudent" title="Ayuda">
                    <i class="help-icon fas fa-question-circle"></i>
                </a>
            </p>

            <div class="collapse" id="collapseStudent">
                <div class="card border-light bg-light">
                    <div class="card-body float collap-text">
                        <ul style="font-size: 0.75rem">
                            {% if request.user|has_group:"asesorados" %}
                            <!-- En caso de ser asesorado... -->
                                <li><b>"Nueva asesoría"</b> contiene el proceso para solicitar una asesoría.</li>
                                <li><b>"Ver asesorías"</b> presenta la lista de tus asesorías, estados y opciones correspondientes (pendientes, aceptadas, rechazas, canceladas o finalizadas).</li>
                                <li><b>"Reportes"</b> muestra gráficos con base a tu historial de asesorías tomadas por semestre.</li>
                            {% elif request.user|has_group:"asesores" %}
                            <!-- En caso de ser asesor... -->
                                <li><b>"Mis asesorías"</b> presenta la lista de sus asesorías, estados y opciones correspondientes (pendientes, aceptadas, rechazas, canceladas o finalizadas).</li>
                                <li><b>"Horario"</b> contiene sus horarios disponibles para impartir asesorías, divididos en lapsos de 30 minutos.</li>
                                <li><b>"Temario"</b> comprende los temas de cada materia en las que puede brindar asesorías.</li>
                                <li><b>"Reportes"</b> muestra gráficos con base a su historial de asesorías impartidas por semestre.</li>
                            {% else %}
                            <!-- En caso de ser jefe de dpto.. -->
                                <li><b>"Reportes"</b> muestra gráficos con base al historial de asesorías impartidas por asesores de su departamento por semestre.</li>
                            {% endif %}
                        </ul>              
                    </div>
                </div>
            </div>

        </div>
    </div>
    
</main>



{% endblock %}