{% include 'root.html' %}


{% block content %}

<main class="container text-center">

    <div class="row">
        <div class="col"><h1 class="font-weight-bold py-5">Menú Principal</h1></div>
    </div>
    
    {% for dir, text in opciones.items %}
        <div class="row">
            <div class="col">
                <a href={% url dir %}><button type="button" class="my-btn big">{{text}}</button></a>
            </div>
        </div>
    {% endfor %}

</main>

<!--Boton de ayuda-->
<div class="container">
    <div class="row">
        <div class="col">

            <p>
                <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" >
                    <i class="fas fa-question-circle"></i>
                </a>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card border-light bg-light ">
                    <div class="card-body float collap-text">
                        <ul>
                            <li><b>"Mis asesorías"</b> muestra aquellas solicitudes aceptadas o no de alumnos para asesorar.</li>
                            <li><b>"Horario"</b> representa su horario disponible en lapsos de 30 min. para que los alumnos soliciten una asesoría.</li>
                            <li><b>"Temario"</b> son los temas de las materias que usted puede brindar asesoría.</li>
                            <li><b>"Reportes"</b> es la generación de gráficos en base a su historial de asesorías.</li>
                          </ul>              
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>


{% endblock %}