{% include 'root.html' %}
{% load widget_tweaks %}

{% block content %}
<main class="container">

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Tema</th>
            <th scope="col">Asesor</th>
            <th scope="col">Fecha</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>

</main>
    
{% endblock %}
