{% include 'root.html' %}


{% block content %}


<main class="container">
    <div class="row">
        <div class="col">
            <h1 id="title" class="my-3 "><a href="{% url 'accounts:principal' %}"><i class="fas fa-arrow-circle-left px-4"></i></a>Tipos de reportes</h1>
        </div>
    </div>
    
    <div class="container text-center mt-5">
        <!-- Ver reportes de asesorias tomadas por semestre -->
        <div class="row">
            <div class="col">
                <a href={% url 'accounts:rep-sem' %}><button type="button" class="my-btn big">Asesorías por semestre</button></a>
            </div>
        </div>
    </div>

</main>

{% endblock %}