{% include 'accounts/nav.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}


<main class="container">
    <h1 id="title" class="my-3"><a href="#"><i class="fas fa-arrow-circle-left px-4"></i></a>Materias</h1>

    <div class="row">
        {% if materias %}

        <table class="table table-hover mt-4">
            <thead class="thead-dark ">
                <tr>
                    <th scope="col">Clave</th>
                    <th scope="col">Materia</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for materia in materias %}
                <tr>
                    <th scope="row">{{materia.materia.clave_materia}}</th>
                    <td>{{ materia.materia.nombre }}</td>
                    <td>
                        <a href="{% url 'temario_materia_editar' materia.materia.id %}"
                            class="btn btn-warning mr-3">Editar</a>
                        <a href="{% url 'temario_eliminar' materia.materia.id %}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>

    <div class="row text-center">
        <div class="col my-4">
            <h3>Agregar materia</h3>
        </div>
        <div class="container">
            <form class="form-row align-items-center" method='GET' action="/temario/agregar/">
                <div class="col-md-8 col-xm-12">
                    {% render_field filtro.form.query class="form-control" placeholder="Nombre o clave de materia" %}
                </div>
                <div class="col-md-4">
                    <button id="search" class="my-btn small" type="submit">Buscar</button>
                </div>
            </form>
        </div>
    
    </div>



</main>

{% endblock %}