{% include 'root.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<main class="container">
    <div class="row mb-4">
        <div class="col-xs-6 col-md-9">
            <h1 id="title" class="my-3"><a href="#"><i class="fas fa-arrow-circle-left px-4"></i></a>Temario</h1>
        </div>
    </div>

    <div class="row text-center">
        <div class="col">
            <h2>Materias</h2>
        </div>
    </div>

    <div class="row">
        {% if materias %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Clave</th>
                    <th scope="col">Materia</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for materia in materias %}
                <tr>
                    <th scope="row">{{materia.clave_materia}}</th>
                    <td>{{ materia.nombre }}</td>
                    <td><a href="{% url 'accounts:temario_agregar' materia.id %}">
                        <button class="btn btn-success">Agregar</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p class="note-empty"> No se encontraron resultados a la búsqueda</p>
        {% endif %}
    </div>

    <div class="container text-center">
        <form method='GET' action="/temario/agregar/">
            <div class="form-row align-items-center">
                <div class="col-md-8 col-xm-12">
                    {% render_field filtro.form.query class="form-control" placeholder="Nombre o clave de materia" %}
                </div>
                <div class="col-md-4 my-3">
                    <button class="my-btn small" type="submit">Buscar</button>
                </div>
            </div>
        </form>
    </div>

</main>

{% endblock %}