{% include 'root.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<main class="container">

    <div class="container text-center">
        <form method='GET' action="/temario/agregar/">
            <div class="form-row align-items-center">
                <div class="col-8">
                    {% render_field filtro.form.query class="form-control" placeholder="Nombre o clave de materia" %}
                </div>
                <div class="col-auto my-3">
                    <button class="my-btn smaller" type="submit">Buscar</button>
                </div>
            </div>
        </form>
    </div>

    <div class="container mt-3 scroll">
        {% if materias %}
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Clave</th>
                    <th scope="col">Materia</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for materia in materias %}
                <tr>
                    <th scope="row">{{materia.clave_materia}}</th>
                    <td>{{ materia.nombre }}</td>
                    <td>
                        <a href="{% url 'accounts:temario_agregar' materia.id %}">
                            <button title="Agregar esta materia a mi temario" class="btn btn-success">Agregar</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="note-empty"> No se encontraron resultados a la búsqueda</p>
        {% endif %}
    </div>

</main>

{% endblock %}