{% include 'accounts/nav.html' %}
{% load static %}

{% block content %}
<main class="container">
    <h1>Temas y subtemas a asesorar</h1>

    <div class="row">
        {% if temas %}
        <form action="" method="post" class="container">
            {% csrf_token %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Tema - Subtema</th>
                        <th scope="col">Activo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tema in temas %}

                        {% if tema.subtema.numero == 1 %}
                            <tr>
                                <th>{{tema.tema.numero}}</th>
                                <th>{{ tema.tema.nombre}}</th>
                                <th><input type="checkbox" name="tema_{{ tema.tema.numero }}" class="select_all"></th>
                            <tr>
                        {% endif %}

                        <tr>
                            <td>{{ tema.tema.numero }}.{{ tema.subtema.numero}} </td>
                            <td>{{ tema.subtema.nombre }}</td>
                            {% if tema.activo %}
                            <td><input type="checkbox" checked="checked" name="{{tema.id}}" class="tema_{{tema.tema.numero}}"></td>
                            {% else %}
                            <td><input type="checkbox" name="{{tema.id}}" class="tema_{{tema.tema.numero}}"></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'temario' %}" class="btn btn-secondary">Cancelar</a>
            <input type="submit" value="Actualizar" class="btn btn-primary">
        </form>
        {% else %}
        <p> No se encontraron resultados a la búsqueda</p>
        {% endif %}
    </div>
</main>
{% endblock %}