{% include 'root.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<main class="container">
    
    <div class="row">
        <div class="col-md-9 text-center">
            <form action="" method="post">
                {% csrf_token %}
                <h2>¿Está seguro de eliminar {{materia.nombre}} de sus asesorias?</h2>
                <input type="submit" value="Eliminar" class="btn btn-danger">
                <a href="{% url 'accounts:temario'%}" class="btn btn-primary">Cancelar</a>
            </form>
        </div>
    </div>

</main>

{% endblock %}