{% include 'accounts/nav.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-9">
            <h1 id="title"><a href="#"><i class="fas fa-arrow-circle-left"></i></a>Temario</h1>
        </div>
    </div>


    <div class="row">
        {% if materias %}
        <div class="row">
            <div class="col-md-9 text-center">
                <h2>Materias</h2>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Clave</th>
                    <th scope="col">Materia</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for materia in materias %}
                <tr>
                    <th scope="row">{{materia.materia.clave_materia}}</th>
                    <td>{{ materia.materia.nombre }}</td>
                    <td>
                        <a href="{% url 'temario_materia_editar' materia.materia.id %}" class="btn btn-warning">Editar</a>
                        <a href="{% url 'temario_eliminar' materia.materia.id %}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-md-9 text-center">
            <h2>Agregar materia</h2>
        </div>
    </div>

    <div class="form-row">
        <form method='GET' action="/temario/agregar/">
            <div class="col">
                <label for="nombre_materia">Nombre materia</label>
                {% render_field filtro.form.nombre_materia class="form-control" %}
            </div>

            <div class="col">
                <label for="clave_materia">Clave materia</label>
                {% render_field filtro.form.clave_materia class="form-control" %}
            </div>
            <div class="col">
                <label for="carrera">Carrera</label>
                {% render_field filtro.form.carrera class="form-control" %}
            </div>
            <button class="btn btn-primary" type="submit">Buscar</button>
        </form>
    </div>


</div>


{% endblock %}