
/* tamanio de inputs */   
.input-box {
    height: 3.5rem;
    width: 300px;
    margin: auto;
}

form a {
    font-size: 14px;
    display: block;
}

/* tamanio y estilo de iconos */  
i{
    font-size: 1.875rem;
}
.icon {
    color: #BFBFBF  
}
.help-icon {
    color: #555
}
i:hover {
    color: #e8aa00
}

.amarillo {
    background-color: #e8aa00;
}


/* Estilo de la linea divisora */
hr{
    border-top: 5px solid #e8aa00;
    border-radius: 20px
}

/* Estilo de tarjeta para asesorias */
.card {   
    background-color: #e7e7e7;
    float: none; 
    margin: 0 auto; 
    margin-bottom: 10px; 
}

.my-card:hover{
    transform: scale(1.005);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

/* Estilo para los botones normales */
.my-btn {
    background-color: #e7e7e7;
    border: none;
    border-radius: 4px;
    color: #555;
}
/* boton chico */
.small {
    height: 50px;
    font-size: 20px;
    width: 18.75rem;
}
/* boton grande */
.big {
    height: 70px;
    font-size: 22px;
    width: 350px;
    margin-bottom: 2rem;
}

/* Color del hover para los botones */
.my-btn:hover {
    background-color: #d8d7d7; 
}

.alert {
    display: table;
    margin: auto;  
}

/* Estilo de los estados posibles */
.card-header {
    padding: 0.375rem 0.75rem;
}

.pendiente {
    background-color: #ffc107;

}
.aceptada {
    background-color: #28a745;
}
.rechazada {
    background-color: #dc3545;
}
.finalizada {
    background-color: #17a2b8;
}
.cancelada {
    color: white;
    background-color: #343a40;
}

/* Tamanio de fuente para indicaciones en el cambio de contrasenia */
.indications {
    font-size: 0.75rem;
}

#agenda {
    display: none;
}

/* Estilo para notas de advertencia, en este caso resultado de una busqueda*/ 
.note-empty {
    background-color: rgba(255, 135, 135, 0.535);
    padding: 10px;
}

/* Sombra para dar un estilo flotante */
.float {
    background-color: #f2f2f2;
    box-shadow: 1px 1px 5px #9b9b9b8c;
}
/* Estilo de la ventana de ayuda*/
.fixedbutton {
    position: fixed;
    bottom: 0px;
    right: -50px; 
    left: 0px;
}

.scroll {
    max-height: 450px;
    overflow-y: auto;
}


/* Quitar decoracion en a tags*/
a:hover {
    text-decoration: none;  
}

.my-list:hover {
    background-color: #e7e7e7;
}

/* Hacer que el elemento se mantenga abajo de la pantalla en principal*/
.bottom{
    height : 10vh;
    position : relative;
    top : 20vh;
}

.info li {
    font-size: 1.125rem;
}

/* Hacer que el text area no se pueda cambiar de tamanio */
textarea { resize: none; }

.my-table tr {
    cursor: pointer;
}
