/* Rewrite the querys for responsive of bootstrap */

/* // Small devices (landscape phones, 300px and up) xs */
@media (min-width: 300px) { 
    h1 {
        color: blue;
    }
    #title {
        font-size: 1.5rem;
    }
    #filter {
        width: 130px; 
        height: 50px;
    }
    .my-card {
        width: 20rem;
    }
    
}

/* // Medium devices (tablets, 768px and up) sm */
@media (min-width: 768px) { 
    h1 {
        color: pink;
    }
    #title {
        font-size: 2.5rem;
    }
    #filter {
        width: 200px; 
        height: 50px;
    }
    .my-card {
        width: 40rem;
    }


}

/* // Large devices (desktops, 992px and up) md */
@media (min-width: 992px) { 
    h1 {
        color: purple;
    }

    #title {
        font-size: 2.5rem;
    }

    #filter {
        width: 200px; 
        height: 50px;
    }
    .my-card {
        width: 70rem;
    }

 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}