/* Rewrite the querys for responsive of bootstrap */

/* // Small devices (landscape phones, 300px and up) xs */
@media (min-width: 300px) { 
    #title {
        font-size: 1.5rem
    }
    #filter {
        width: 130px; 
        height: 50px
    }
    .my-card {
        width: 20rem
    }
    /* texto de las intrucciones / informacion */
    .collap-text{
        font-size: 0.3rem;
    }
    .big{
        width: 150px;
    }
}

/* // Medium devices (tablets, 768px and up) sm */
@media (min-width: 768px) { 
    #title {
        font-size: 2.5rem;
    }
    #filter {
        width: 200px; 
        height: 50px;
    }
    .my-card {
        width: 40rem;
    }
    #search {
        margin-top: 10px;
    }
    .big{
        width: 350px;
    }

}

/* // Large devices (desktops, 992px and up) md */
@media (min-width: 992px) { 
    #filter {
        width: 200px; 
        height: 50px;
    }
    .my-card {
        width: 70rem;
    }
    #search {
        margin-top: 10px;
    }
    .collap-text{
        font-size: 1rem;
    }
    .big{
        width: 350px;
    }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}