{% include 'accounts/nav.html' %}

{% block content %}
<style>
  .result {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 80%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */ 
  }

</style>

<!---Titulo-->
<h1 class="my-3"><a href="#"><i class="fas fa-arrow-circle-left px-4"></i></a> Agendar asesoría</h1>

<main class="container text-center">

  <div class="row">
      <div class="col-12">
        <!-- Obvi esta parte no sera asi, pero es para ver si visualmente quedaria asi -->
        <select class="browser-default custom-select my-5">
          <option selected>Selecciona la carrera</option>
          <option value="1">Ingenieria en Sistemas Computacionales</option>
          <option value="2">Informatica</option>
        </select>
      </div>
  </div>

  <div class="row">
      <div class="col-12">
        <!-- Mostrar las materias de acuerdo a su kardex-->
        <select class="browser-default custom-select mb-5">
          <option selected>Materia</option>
          <option value="1">Calculo Diferencial</option>
          <option value="2">Fundamentos de programacion</option>
          <option value="3">Matematicas discretas</option>
          <option value="4">Calculo Integral</option>
        </select>
      </div>
  </div>
  
  <div class="row">
      <div class="col-12">
        <select class="browser-default custom-select mb-5">
          <option selected>Tema (unidad)</option>
          <option value="1">Numeros Reales</option>
          <option value="2">Funciones</option>
          <option value="3">Limites y continuidad</option>
          <option value="4">Derivadas</option>
          <option value="5">Aplicaciones de las derivadas</option>
        </select>
      </div>
  </div>

  <div class="row">
    <div class="col-12">
      <select class="browser-default custom-select mb-5">
        <option selected>Subtema</option>
        <option value="1">Los numeros reales</option>
        <option value="2">Axiomas de los números reales.</option>
        <option value="3">Intervalos y su representación gráfica.</option>
        <option value="4">Valor absoluto y sus propiedades.</option>
        <option value="5">Propiedades de las desigualdades.</option>
        <option value="6">Resolución de desigualdades de primer y segundo grado con una incógnita.</option>
        <option value="6">Resolución de desigualdades que incluyan valor absoluto. </option>
      </select>
    </div>
  </div>
  <div> 
    <button class="my-btn-sm">Buscar</button> 
  </div>

</main>


<!-- TThe result window -->
<div id="agenda" class="result">

  <div>
    <button class="my-btn"><i class="fas fa-chevron-right"></i></button>
    <p>fechas</p>
    <button class="my-btn"><i class="fas fa-chevron-left"></i></button>
  </div>

  <div class="modal-content">
    <span class="close">&times;</span>
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Asesor</th>
          <th scope="col">Lunes</th>
          <th scope="col">Martes</th>
          <th scope="col">Miercoles</th>
          <th scope="col">Jueves</th>
          <th scope="col">Viernes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Octavio Paz</th>
          <td>13:00</td>
          <td>11:00</td>
          <td></td>
          <td>13:00</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Jose Sonora</th>
          <td>14:00</td>
          <td></td>
          <td>10:00</td>
          <td>9:00</td>
          <td>11:00</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


{% endblock %}

