{% extends 'accounts/simple-nav.html' %}


{% block content %}


<main class="index container text-center mb-5">

    <div class="row pt-5 pb-4">
        <div class="col-12"><h1>Índice WASS</h1></div>
    </div>
    
    <div class="row">
        <div class="col-12 p-3">
            <a href="http://127.0.0.1:8000/" class="btn btn-outline-warning">Ingreso</a> 
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-3">
            <a href="http://127.0.0.1:8000/registro" class="btn btn-outline-warning">Registro</a> 
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-3">
            <a href="http://127.0.0.1:8000/alumno" class="btn btn-outline-warning">Menu Principal de Alumno</a> 
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-3">
            <a href="http://127.0.0.1:8000/agendar" class="btn btn-outline-warning">Agendar (Alumno)</a> 
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-3">
            <a href="http://127.0.0.1:8000/ver-asesorias" class="btn btn-outline-warning">Ver Asesorias (Alumno)</a> 
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-3">
            <a href="http://127.0.0.1:8000/docente" class="btn btn-outline-warning">Menu Principal de Docente</a> 
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-3">
            <a href="http://127.0.0.1:8000/jfe-dpto" class="btn btn-outline-warning">Menu Principal de Jefe de Dpto.</a> 
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-3">
            <a href="http://127.0.0.1:8000/reportes" class="btn btn-outline-warning">Reportes</a> 
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-3">
            <a href="http://127.0.0.1:8000/admi" class="btn btn-outline-warning">Menu Principal de Admistrador</a> 
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-3">
            <a href="http://127.0.0.1:8000/config-alumno" class="btn btn-outline-warning">Configurar datos (Alumno)</a> 
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-3">
            <a href="http://127.0.0.1:8000/config-docente" class="btn btn-outline-warning">Configurar datos (Docente)</a> 
        </div>
    </div>
</main>


{% endblock %}
