{% extends 'accounts/simple-nav.html' %}


{% block content %}


<main class="index container text-center mb-5">

    <div class="row pt-5 pb-4">
        <div class="col-12"><h1>Índice WASS</h1></div>
    </div>
    
    <div class="row">
        <div class="col-12 p-3">
            <a href="/ingreso" class="btn btn-outline-warning">Ingreso</a> 
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-3">
            <a href="/registro" class="btn btn-outline-warning">Registro</a> 
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-3">
            <a href="/alumno" class="btn btn-outline-warning">Menu Principal de Alumno</a> 
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-3">
            <a href="/agendar" class="btn btn-outline-warning">Agendar (Alumno)</a> 
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-3">
            <a href="/ver-asesorias" class="btn btn-outline-warning">Ver Asesorias (Alumno)</a> 
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-3">
            <a href="/docente" class="btn btn-outline-warning">Menu Principal de Docente</a> 
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-3">
            <a href="/jfe-dpto" class="btn btn-outline-warning">Menu Principal de Jefe de Dpto.</a> 
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-3">
            <a href="/reportes" class="btn btn-outline-warning">Reportes</a> 
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-3">
            <a href="/admi" class="btn btn-outline-warning">Menu Principal de Admistrador</a> 
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-3">
            <a href="/config-alumno" class="btn btn-outline-warning">Configurar datos (Alumno)</a> 
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-3">
            <a href="/config-docente" class="btn btn-outline-warning">Configurar datos (Docente)</a> 
        </div>
    </div>
</main>


{% endblock %}
