{% extends 'accounts/root.html' %}
{% load static %}

{% block content %}


<main class="container text-center">

    <div class="row pt-3"></div>
        <div class="col-12"><img src="{% static 'images/Logo.png' %}" width="280" height="140" alt="Wass logo"></div>
    </div>
    <div class="row pt-5 pb-4">
        <div class="col-12"><h2>Iniciar Sesión</h2></div>
    </div>
    
    <div class="row">
        <div class="col-12">

        {% for message in messages %}
            <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}

            <form method="POST" action="">
                {% csrf_token %}
                <input name="email" type="email" class="form-control form-control-lg input-box mb-4" aria-describedby="email" placeholder="Correo institucional">
                <input name="password" type="password" class="form-control form-control-lg input-box mb-5" placeholder="Contraseña">
                <input type="submit" class ="my-btn" value="Entrar">
                <a class="text-muted mb-5" href="#">Olvidé mi contraseña</a>
            </form>
        
            <p class="font-italic"><a href="{% url 'registro' %}" class="text-decoration-none" style="display:inline;">Registrarse</a> en caso de no tener una cuenta</p>
        </div>
    </div>

</main>

{% endblock %}
