
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>WASS</title>
</head>

<style>
    main {
        margin: auto;
        width: 50%;
        text-align: center;
    }

    /* size for the inputs */   
    .input-box {
        height: 3.5rem;
        width: 300px;
        margin: auto;
    }

    form a {
        font-size: 10px;
        display: block;
    }
</style>

<body>

    <nav class="navbar navbar-dark" style="background-color: #9B9B9B;">
        <img src="res/logo.png" width="75" height="35" loading="lazy" alt="Wass logo">
    </nav>


    {% block content %}


    {% endblock %}

</body>
</html>