{% extends 'accounts/root.html' %}

{% load static %}
<link rel="stylesheet" href="{% static '/css/responsive.css' %}">

{% block content %}

<nav class="navbar navbar-dark bg-dark">
    <a href="{% url 'principal' %}"><img src="{% static 'images/Logo.png' %}" class="ml-3" width="75" height="40"
            alt="Wass logo"></a>
    <div>
        {% if not hide_config %}
        <a href="{% url 'configurar' %}"><i style="color: #BFBFBF;" class="fas fa-user-circle mr-3"></i></a>
        {% endif %}
        <a href="{% url 'salir'%}"><i style="color: #BFBFBF;" class="fas fa-sign-out-alt"></i></a>
    </div>
</nav>

{% if form.errors %}
{% for field in form %}
{% for error in field.errors %}
<div class="alert alert-danger alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endfor %}
{% endif %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{ message }}</strong>
</div>
{% endfor %}
{% endif %}

{% endblock %}