{% extends 'accounts/simple-nav.html' %}


{% block content %}

<main>
    <h1 class="py-5">Registro</h1>

    <form>
        <input id="InputEmail1" type="email" class="form-control form-control-lg input-box mb-5" aria-describedby="emailRegister" placeholder="Correo institucional">
        <input id="InputPassword" type="password" class="form-control form-control-lg input-box mb-5" placeholder="Contraseña" aria-describedby="ContraseniaRegistro">
        <button type="submit" class="btn btn-outline-primary btn-lg mb-5">Registrarse</button>
    </form>

    <p class="font-italic"><a href="#" class="text-decoration-none" style="display:inline;">Iniciar sesion</a> en caso tener una cuenta</p>
</main>

{% endblock %}
