{% extends 'accounts/root.html' %}
{% load static %}
{% load widget_tweaks %}


{% block content %}
<main class="container text-center">
        
    <div class="row pt-3">
        <div class="col-12"><img src="{% static 'images/Logo.png' %}" width="280" height="140" alt="Wass logo"></div>
    </div>
    <div class="row pt-5 pb-4">
        <div class="col-12"><h2>Registro</h2></div>
    </div>

    <div class="container-fluid">
        <div class="col-12">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            <form method="POST" action="">
                {% csrf_token %}
                {% render_field form.email class="form-control form-control-lg input-box mb-4" placeholder="Correo institucional" %}
                {% render_field form.password1 class="form-control form-control-lg input-box mb-4" placeholder=form.password1.label %}
                {% render_field form.password2 class="form-control form-control-lg input-box mb-4" placeholder=form.password2.label %}
                <input type="submit" class ="small my-btn mb-5" value="Registrarse">
            </form>

            <p class="font-italic"><a href="{% url 'ingreso' %}" class="text-decoration-none" style="display:inline;">Iniciar sesión</a> en caso de tener una cuenta</p>
        </div>
    </div>


</main>

{% endblock %}
