{% extends 'accounts/simple-nav.html' %}
{% load static %}


{% block content %}

<main>
    <img src="{% static 'images/Logo.png' %}" width="200" height="110" alt="Wass logo" class="p-3">
    <h2 class="pt-5 pb-4">Registro</h2>

    <form method="POST" action="">
        <!--{% csrf_token %}
        {{form}}    

        <input type="submit" name="Create User">--->

        <input id="InputEmail1" type="email" class="form-control form-control-lg input-box mb-4" aria-describedby="emailRegister" placeholder="Correo institucional">

        <input id="InputPassword" type="password" class="form-control form-control-lg input-box mb-5" placeholder="Contraseña" aria-describedby="ContraseñaRegistro">
        <input type="submit" class ="my-btn" value="Registrarse">
    </form>

    <div class="mt-3">
        <p class="font-italic"><a href="#" class="text-decoration-none" style="display:inline;">Iniciar sesion</a> en caso tener una cuenta</p>
    </div>
</main>

{% endblock %}
