{% include 'accounts/nav.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-9">
            <h1 id="title"><a href="#"><i class="fas fa-arrow-circle-left"></i></a>Temario</h1>
        </div>
        <div class="col-md-2">
            <button class="my-btn small">Publicar</button>
        </div>
    
    </div>
    
    <div class="row">
        <div class="col-md-9 text-center">
            <h2>Materias</h2>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-9 text-center">
            <input type="text"> Carrera
            <input type="text" name="" id=""> Agregar
        </div>
    </div>
    
</div>


{% endblock %}


