{% include 'accounts/nav.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}


<div class="container">
    <h1 id="title" class="my-3"><a href="#"><i class="fas fa-arrow-circle-left px-4"></i></a>Temario</h1>

    <div class="row">
        {% if materias %}
        <div class="row">
            <div class="col-md-9 text-center">
                <h2>Materias</h2>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Clave</th>
                    <th scope="col">Materia</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for materia in materias %}
                <tr>
                    <th scope="row">{{materia.materia.clave_materia}}</th>
                    <td>{{ materia.materia.nombre }}</td>
                    <td>
                        <a href="{% url 'temario_materia_editar' materia.materia.id %}" class="btn btn-warning">Editar</a>
                        <a href="{% url 'temario_eliminar' materia.materia.id %}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>

    <div class="row text-center">
        <div class="col-md-12">
            <button onclick="myFunction()" class="my-btn big">Agregar materia</button>
        </div>
    </div>

    <div class="container w-75">
        <div class="form">
            <form method='GET' action="/temario/agregar/">
                <div class="col">
                    <label for="nombre_materia">Nombre de la materia</label>
                    {% render_field filtro.form.nombre_materia class="form-control" %}
                </div>
    
                <div class="col">
                    <label for="clave_materia">Clave de la materia</label>
                    {% render_field filtro.form.clave_materia class="form-control" %}
                </div>
                <div class="col">
                    <label for="carrera">Carrera</label>
                    {% render_field filtro.form.carrera class="form-control" %}
                </div>
                <div class="col text-center">
                    <button class="my-btn small my-4" type="submit">Buscar</button>
                </div>
            </form>
        </div>
    </div>


</div>


{% endblock %}