{% include 'accounts/nav.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/css/responsive.css' %}">

<!---Titulo-->
<div class="container-fluid my-3">
  <div class="row">
    <div class="col-xs-6 col-md-9"><h1 id="title"><a href="#"><i class="fas fa-arrow-circle-left"></i></a> Asesorias</h1></div>
      <!-- Opcion de filtrado-->
    <div class="col-xs-6 col-md-3">
      <select id="filter" class="custom-select">
        <option selected>Filtrar por</option>
        <option value="1">Pendientes</option>
        <option value="2">Aceptadas</option>
        <option value="2">Rechazadas</option>
        <option value="2">Finalizadas</option>
        <option value="2">Canceladas</option>
      </select>
    </div>
  </div>
</div>

<!-- Asesoria card-->
<div class="my-card card border-light">
  <div class="row no-gutters">

  <div class="col-md-2 my-auto">
      <img src="{% static 'images/user.svg' %}" class="m-5" height="80" alt="Foto de perfil">
  </div>

  <div class="col-md-7">
    <div class="card-body">
      <h5 class="card-title">Nombre completo</h5>
      <p class="card-text">Tema</p>
      <p class="card-text">Lugar</p>
      <p class="card-text">Dia y hora</p>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card-body botones">
      <p class="status pendiente">Pendiente</p>
      <p class="status rechazada">Rechazada</p>
      <p class="status aceptada">Aceptada</p>
      <p class="status cancelada">Cancelada</p>
      <p class="status finalizada">Finalizada</p>
      <button type="button" class="my-btn">Estado</button>
    </div>
  </div>

  </div>

  <div class="row no-gutters">
    
  </div>

</div>


{% endblock %}
