{% include 'root.html' %}

{% block content %}


<main class="container">
    <div class="row mt-3">
        <div class="col">
            <p class="text-secondary">Poner que es esto</p>
        </div>
    </div>

    <div class="container text-center mt-5">
        <!-- Ver reportes de asesorias tomadas por semestre -->
        
        <div class="row">
            <div class="col">
                <a href="{% url 'asesoria:rep-sem' %}"><button type="button" class="my-btn big" title="Ver reporte">Asesorías por semestre</button></a>
            </div>
        </div>
    </div>

</main>

{% endblock %}