{% include 'root.html' %}

{% load auth_extras %}

{% block content %}


<main class="container">
    <div class="row my-3">
        <div class="col">
          <!-- Datos de la ventan en caso de ser asesorado -->
          {% if request.user|has_group:"asesorados" %}
          <p class="text-secondary">Se generan reportes de acuerdo a los datos en el sistema sobre tus asesorías tomadas.</p>
          <!-- En caso de ser asesor -->
          {% elif request.user|has_group:"asesores" %}
          <p class="text-secondary">Se generan reportes de acuerdo a los datos en el sistema sobre sus asesorías dadas.</p>
          <!-- En caso de ser jefe de dpto -->
          {% else %}
          <p class="text-secondary">Se generan reportes de acuerdo a los datos en el sistema sobre las asesorías brindadas por los docentes en su Departamento.</p>
          {% endif %}
        </div>
      </div>

    <div class="container text-center mt-5">
        <!-- Ver reportes de asesorias tomadas por semestre -->
        
        <div class="row">
            <div class="col">
                <a href="{% url 'asesoria:rep-sem' %}"><button type="button" class="my-btn big" title="Ver reporte">Asesorías por semestre</button></a>
            </div>
        </div>
    </div>

</main>

{% endblock %}