{% include 'root.html' %}

{% block content %}


<main class="container">
  <!-- DEBE regresar a elegir materia. -->
  <div class="row">
    <div class="col">
        <h1 id="title" class="my-3"><a href="{% url 'asesoria:seleccion_materia' %}"><i class="icon fas fa-arrow-circle-left pr-4"></i></a>Selección de Tema</h1>
    </div>
  </div>

  <div class="row my-3">
    <div class="col">
      <p class="text-secondary"><strong>Paso 2.</strong> Seleccione la unidad a la cual pertenezca su tema a asesorar.</p>
    </div>
  </div>


  <div class="card text-center scroll text-white bg-dark border-light">
      <div class="card-header">
        <strong>{{materia}}</strong>
      </div>
      <ul class="list-group list-group-flush">
        {% for tema in temas %}
        <a href="{% url 'asesoria:seleccion_subtema' materia.id tema.id %}">
          <li class="list-group-item my-list">
            {{tema.nombre}}
          </li>
        </a>
        {% endfor %}
    </ul>
  </div>
    
</main>

{% endblock %}