{% include 'root.html' %}

{% block content %}

<main class="container">
  <!-- DEBE regresar a principal. -->
  <div class="row">
    <div class="col">
        <h1 id="title" class="my-3"><a href="{% url 'accounts:principal' %}"><i class="icon fas fa-arrow-circle-left pr-4"></i></a>Selección de Materia</h1>
    </div>
  </div>

    <div class="row my-3">
      <div class="col">
        <p class="text-secondary"><strong>Paso 1.</strong> Elija la materia a la cual pertenezca su tema para asesorar.</p>
      </div>
    </div>

    <div class="card text-center scroll text-white bg-dark border-light">
      <div class="card-header ">
        <strong>{{carrera}}</strong>
      </div>
      <ul class="list-group list-group-flush">
        {% for materia in materias %}
        <a href="{% url 'asesoria:seleccion_tema' materia.id %}">
          <li class="list-group-item my-list">
            {{materia.nombre}}
          </li>
        </a>
        {% endfor %}
      </ul>
    </div>

</main>

{% endblock %}