{% include 'root.html' %}

{% block content %}

<main class="container">
  
<!-- Hacer que aparezca esta instruccion solo cuando si haya asesores -->
  <div class="row my-3">
    <div class="col pl-4">
      <p class="text-secondary">A continuación se muestran los asesores disponibles, seleccione en alguno para visualizar su horario.</p>
    </div> 
  </div>
  
  <div id="accordion" class="container text-center">

  {% for asesor in asesores %}

      <div class="card text-center">
        <div class="card-header text-white bg-dark border-light">
          <a data-toggle="collapse" href="#collapse{{asesor.id}}" aria-expanded="true" aria-controls="collapse-example" 
          id="{{asesor.id}}" class="text-white">
            <strong>
              {% if asesor.asesor.nombre %}
              {{asesor.asesor.nombre}}
              {% else %}
              {{asesor.asesor}}
              {% endif %}
            </strong>
          </a>
          
        </div>
        <div id="collapse{{asesor.id}}" class="collapse" aria-labelledby="{{asesor.asesor.id}}" data-parent="#accordion">
          <ul class="list-group list-group-flush">
            {% for agenda in agendas %}
            {% if asesor.asesor == agenda.asesor %}
            <a href="{% url 'asesoria:nueva_asesoria' materia tema subtema asesor.asesor.id agenda.id %}">
              <li class="list-group-item">
                {{agenda.dia.get_nombre_display}} {{agenda.hora.get_nombre_display}}
              </li>
            </a>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div> 
      
  {% endfor %}

  </div>
</main>

{% endblock %}