{% include 'root.html' %}

{% block content %}


<main class="container">
  <!---Titulo-->
  <div class="row">
    <div class="col">
      <h1 id="title" class="my-3"><a href="#"><i class="fas fa-arrow-circle-left px-4"></i></a> Agendar asesoría</h1>
    </div>
  </div>


  <div class="container text-center">
    <div class="card text-center">
      <div class="card-header">
        <strong>{{materia}}</strong>
      </div>
      <ul class="list-group list-group-flush">
        {% for tema in temas %}
        <a href="{% url 'asesoria:seleccion_subtema' materia.id tema.id %}">
          <li class="list-group-item">
            {{tema.nombre}}
          </li>
        </a>
        {% endfor %}
      </ul>
    </div>
</main>

{% endblock %}