{% include 'root.html' %}

{% block content %}


<main class="container">

    <div class="row my-3">
      <div class="col">
        <p class="text-secondary"><strong>Paso 1.</strong> Elija la materia a la cual pertenezca su tema para asesorar.</p>
      </div>
    </div>

    <div class="card text-center">
      <div class="card-header">
        <strong>{{carrera}}</strong>
      </div>
      <ul class="list-group list-group-flush">
        {% for materia in materias %}
        <a href="{% url 'asesoria:seleccion_tema' materia.id %}">
          <li class="list-group-item">
            {{materia.nombre}}
          </li>
        </a>
        {% endfor %}
      </ul>
    </div>

</main>

{% endblock %}