{% include 'root.html' %}

{% block content %}


<main class="container">

  <div class="row my-3">
    <div class="col pl-4">
      <p class="text-secondary"><strong>Paso 3.</strong> Finalmente indique el subtema que se relaciona con su tema de asesoría para buscar a un profesor disponible.</p>
    </div>
  </div>

    <div class="card text-center scroll text-white bg-dark border-light">
      <div class="card-header">
        <strong>{{materia.nombre}} - {{tema.nombre}}</strong>
      </div>
      <ul class="list-group list-group-flush">
        {% for subtema in subtemas %}
        <a href="{% url 'asesoria:seleccion_asesor' materia.id tema.id subtema.id %}">
          <li class="list-group-item my-list">
            {{subtema.nombre}}
          </li>
        </a>
        {% endfor %}
      </ul>
    </div>

</main>


{% endblock %}