{% include 'root.html' %}
{% load static %}
{% load auth_extras %}


{% block content %}
<link rel="stylesheet" href="{% static '/css/responsive.css' %}">

<style>
</style>

<main>

  <div class="container-fluid my-3">
    <div class="row">
      <!-- Opcion de filtrado-->
      <div class="col-xs-6 col-md-3">
        <select id="filter" class="custom-select">
          <option selected>Filtrar por</option>
          <option value="1">Pendientes</option>
          <option value="2">Aceptadas</option>
          <option value="2">Rechazadas</option>
          <option value="2">Finalizadas</option>
          <option value="2">Canceladas</option>
        </select>
      </div>
    </div>
  </div>

  <!-- Asesoria card-->
  <div class="container">
    <div class="row">
      <div class="col">
        {% for asesoria in asesorias %}
        <div class="my-card card border-light">
          <div class="row no-gutters">

            <div class="col-md-2 my-auto text-center">
              <img src="{% static 'images/user.svg' %}" class="m-5" height="80" alt="Foto de perfil">
            </div>

            <div class="col-md-7">
              <div class="card-body">
                <h5 class="card-title">
                  {% if request.user|has_group:"asesorados" %}
                  {{asesoria.asesor.nombre}}
                  {% else %}
                  {{asesoria.asesorado.nombre}}
                  {% endif %}
                </h5>
                <p class="card-text">{{asesoria.subtema.nombre}}</p>
                <p class="card-text">{{asesoria.asesor.lugar_asesoria}}</p>
                <p class="card-text">{{asesoria.fecha_asesoria}}</p>
              </div>
            </div>

            <div class="col-md-3 text-center mt-4">
              <div class="col">
                <p class="status {{asesoria.estado}}">{{asesoria.get_estado_display}}</p>
              </div>
              <div class="col h-50"></div>
              <div class="col mb-2" style="background-color: #C4C4C4;">
                {% if request.user|has_group:"asesorados" %}
                  {% if asesoria.estado == 'pendiente' or asesoria.estado == 'aceptada' %}
                  <a role="button" href="{% url 'asesoria:cancelar_asesoria' asesoria.id %}" class="o-cancelar btn btn-warning">Cancelar</a>
                  {% endif %}
                {% else %}
                  {% if asesoria.estado == 'pendiente' %}
                  <a role="button" href="{% url 'asesoria:aceptar_asesoria' asesoria.id %}"class="o-aceptar btn btn-success">Aceptar</a>
                  <a role="button" href="{% url 'asesoria:rechazar_asesoria' asesoria.id %}" class="o-rechazar btn btn-danger">Rechazar</a>
                  {% elif asesoria.estado == 'aceptada' %}
                  <a role="button" href="{% url 'asesoria:cancelar_asesoria' asesoria.id %}" class="o-cancelar btn btn-warning">Cancelar</a>
                  <a role="button" href="{% url 'asesoria:finalizar_asesoria' asesoria.id %}"class="o-finalizar btn btn-primary">Finalizar</a>
                  {% endif %}
                {% endif %}
              </div>
            </div>

          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>
</main>


{% endblock %}