{% include 'root.html' %}
{% load static %}
{% load widget_tweaks %}

{% load auth_extras %}


{% block content %}
<link rel="stylesheet" href="{% static '/css/responsive.css' %}">

<style>
</style>

<main class="container">
  <!-- DEBE regresar a el menu principal. -->
  <div class="row">
    <div class="col">
      <h1 id="title" class="my-3"><a href="{% url 'accounts:principal' %}"><i
            class="icon fas fa-arrow-circle-left pr-4"></i></a>Mis asesorías</h1>
    </div>
  </div>

  <div class="row my-3">
    <div class="col">
      <!-- Datos de la ventan en caso de ser asesorado -->
      {% if request.user|has_group:"asesorados" %}
      <p class="text-secondary">Aquí se muestra la lista de tus asesorías registradas en el sistema, es posible cancelar
        aquellas en estado "pendiente" o escribir un comentario en las finalizadas.<b> Este historial será borrado al
          término de cada semestre</b>, puedes generar un respaldo en la opción de reportes.</p>
      <!-- En caso de ser asesor -->
      {% else %}
      <p class="text-secondary">Aquí se muestra la lista de sus asesorías registradas en el sistema, podra aceptar o
        rechazar las solicitudes de alumnos, cancelar aquellas en estado "pendiente" y finalizar con un comentario las
        ya aceptadas.<b> Este historial será borrado al término de cada semestre</b>, puede generar un respaldo en la
        opción de reportes.</p>
      {% endif %}
    </div>
  </div>

  <!-- Opcion de filtrado-->
  <form class="form-inline justify-content-end" method="get">
    <div class="form-group">
      {% render_field filtro.form.estado class="custom-select" %}
    </div>
    <button class="btn my-btn col-auto mb-auto ml-2" type="submit">Filtrar</button>
  </form>



  <!-- Tarjeta de asesoria -->
  {% for asesoria in asesorias %}
  <div class="card my-3 my-card">
    <!-- Revisar el estado -->
    <div class="card-header {{asesoria.estado}} text-right">
      <h5 class="{{asesoria.estado}} mr-3" title="Estado">{{asesoria.get_estado_display}}</h5>
    </div>
    <!-- Datos -->
    <div class="row no-gutters">
      <!-- Nombre y foto del asesor / asesorado...  -->
      <div class="col-md-8">
        <div class="card-body">
          <h6 class="card-text text-secondary">Asesoría con</h6>
          <h3 class="card-title">
            <img class="mr-2" src="{% static 'images/user.svg' %}" height="40" alt="Foto de perfil">
            {% if request.user|has_group:"asesorados" %}
            {% if asesoria.asesor.nombre %}
            {{asesoria.asesor.nombre}}
            {% else %}
            {{asesoria.asesor}}
            {% endif %}
            {% else %}
            {{asesoria.asesorado.nombre}}
            {% endif %}
          </h3>
          <!-- Tema, Fecha, Hora, Lugar...  -->
          <h5 class="card-text my-3"><strong>{{asesoria.subtema.nombre}}</strong></h5>
          <ul class="list-unstyled my-1">
            <li class="card-text"><strong>{{ asesoria.fecha_asesoria|date:"l d M Y" }}</strong> a las
              <strong> {{ asesoria.fecha_asesoria|time:"H:i" }}</strong> hrs.
            </li>
            <li class="card-text font-weight-light">Lugar:
              {% if asesoria.asesor.lugar_asesoria %}
              {{asesoria.asesor.lugar_asesoria}}
              {% else %}
              Acordar con el asesor.
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
      <!-- Boton/botones de accion -->
      <div class="col-auto m-auto">
        <div class="card-body">
          {% if request.user|has_group:"asesorados" %}
          {% if asesoria.estado == 'pendiente' or asesoria.estado == 'aceptada' %}
          <a role="button" href="{% url 'asesoria:cancelar_asesoria' asesoria.id %}"
            class="btn-lg btn-secondary">Cancelar</a>
          {% endif %}
          {% else %}
          {% if asesoria.estado == 'pendiente' %}
          <a role="button" href="{% url 'asesoria:aceptar_asesoria' asesoria.id %}"
            class="btn-lg btn-success mr-4">Aceptar</a>
          <a role="button" href="{% url 'asesoria:rechazar_asesoria' asesoria.id %}"
            class="btn-lg btn-secondary">Rechazar</a>
          {% elif asesoria.estado == 'aceptada' %}
          <a role="button" href="{% url 'asesoria:finalizar_asesoria' asesoria.id %}"
            class="btn-lg btn-success mr-4">Finalizar</a>
          <a role="button" href="{% url 'asesoria:cancelar_asesoria' asesoria.id %}"
            class="btn-lg btn-secondary">Cancelar</a>
          {% endif %}
          {% endif %}
        </div>
      </div>
    </div>

    <!-- Para ver detalles -->
    <div class="card-footer text-right">
      <a class="card-link" href="{% url 'asesoria:detalle_asesoria' asesoria.id %}">
        Ver detalles
      </a>
    </div>
  </div>

  {% endfor%}

</main>

{% endblock %}