{% load static %}
<link rel="stylesheet" href="{% static '/css/responsive.css' %}">

{% block content %}

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'accounts:principal' %}">
            <img src="{% static 'images/Logo.png' %}" width="75" height="40" alt="Wass logo">
        </a>
        
        <ul class="navbar-nav d-flex flex-row">
            <li class="nav-item">
                {% if not hide_config %}
                <a href="{% url 'accounts:configurar' %}">
                    <i class="icon fas fa-user-circle mr-3"></i>
                </a>
                {% endif %}
                {% if not hide_logauth %}
                <a href="{% url 'accounts:salir'%}">
                    <i class="icon fas fa-sign-out-alt"></i>
                </a>
                {% endif %}
            </li>
        </ul>
        
    </div>
</nav>

<div class="container">
    {% if titulo %}
    <div class="row align-items-center">
        <a href="{{request.META.HTTP_REFERER}}">
            <i class="fas fa-arrow-circle-left px-4"></i>
        </a>
        <h1 id="title" class="my-3">
            {{titulo}}
        </h1>
    </div>
    {% endif %}
</div>


{% endblock %}