{% load static %}
<link rel="stylesheet" href="{% static '/css/responsive.css' %}">
{% load auth_extras %}
{% block content %}

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'accounts:principal' %}">
            <img src="{% static 'images/Logo.png' %}" width="75" height="40" alt="Wass logo" title="Menu Principal">
        </a>

        
        <ul class="navbar-nav d-flex flex-row">
            {% if request.user|has_group:"asesorados" %}
            <li class="nombre navbar-text mr-3" title="Usuario">{{asesor.nombre}}</li>
            {% else %}
            <li class="nombre navbar-text mr-3" title="Usuario">{{asesorado.nombre}}</li>
            {% endif %}
            
            <li class="nav-item">
                {% if not hide_config %}
                <a title="Configurar perfil" href="{% url 'accounts:configurar' %}">
                    <i class="icon fas fa-user-circle mr-3"></i>
                </a>
                {% endif %}
                {% if not hide_logout %}
                <a title="Cerrar sesión" href="{% url 'accounts:salir'%}">
                    <i class="icon fas fa-sign-out-alt"></i>
                </a>
                {% endif %}
            </li>
        </ul>
        
    </div>
</nav>

<div class="container">
    {% if title %}
    <div class="row align-items-center">
        <a href="{{request.META.HTTP_REFERER}}">
            <i class="icon fas fa-arrow-circle-left px-4"></i>
        </a>
        <h1 id="title" class="my-3">
            {{title}}
        </h1>
    </div>
    {% endif %}
</div>


{% endblock %}